h1 {
	text-align: center;
	font-family: 'IBM Plex Serif', serif;
	text-transform: uppercase;
	color: #770044;

}

h3 {
	color: #770044;
	

}
body {
	margin: 0 auto;
	background: #EAECEE;

	
}
.column {
	width: 9%;
	border: 1px solid black;
	padding: 10px;

}
.row:after {
	content: "";
	display: table;
	clear: both;


}
div {
	font-family: 'IBM Plex Serif', serif;
	text-align: center;
	margin: 0 auto;

}

.center {
	display: block;
	margin: 0 auto;
	width: 300px;
	text-align: left;
}
nav {
	text-align: center;
}


h2 {
	text-align: center;
	font-family: 'IBM Plex Serif', serif;
	color: #008080 ;
}
ul {
	padding: 0;
	margin: 0;
}
table {
	text-align: center;
	font-family: 'IBM Plex Serif', serif;
	font-size: 15px;
	margin: 0 auto;
	border: 2px solid black;
}